body{
  overflow: unset;
  overflow-x: hidden;
}

.hero__device-mockup:before,
.hero__device-mockup:after{
  display: none;
}

.features .feature-1 .features__feature-device:after,
.features .feature-2 .features__feature-device:after,
.features .feature-3 .features__feature-device:after{
  background: transparent;
}

.features .feature-1 .features__feature-device img,
.features .feature-2 .features__feature-device img,
.features .feature-3 .features__feature-device img{
  max-width: 100%;
}

.btn-primary{
  background:  #F5CC29;
  color: #fff!important;
  border: 0px;
  transition: all .4s;
  font-weight: 600;
}

.btn-primary:hover{
  background: #F2B903;
  color: #fff!important;
  border: 0px;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
  background: #65318e!important;
  color: #fff!important;
  box-shadow: none;
  outline: none;
}

.hero__logos img,
.logos img{
  max-width: 60px;
  filter:grayscale(100%);
  transition: transform all .4s;
}

.hero__logos img:hover,
.logos img:hover{
  filter:grayscale(0);
}

.benefits img{
  max-height: 300px;
}

.hero__device{
  margin-top: 1rem;
}

.home-logo{
  width: 100%!important;
  max-width: 160px;
}

@media only screen and (max-width: 768px) {
  .hero__logos ul,
  .logos ul{
    flex-wrap: wrap;
  }

  .hero__logos ul li,
  .logos ul li{
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
  }

  .hero__logos img,
  .logos img{
    max-width: 60px;
  }

  .features__feature:not(:last-child){
    padding-bottom: 3rem;
  }
}